[access "refs/*"]
    read = group rdo-infra/rdo-container-registry
    owner = group rdo-infra/rdo-container-registry
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rdo-infra/rdo-container-registry
    submit = group rdo-infra/rdo-container-registry
    read = group Registered Users
    read = group rdo-infra/rdo-container-registry
    label-Verified = -2..+2 group rdo-infra/rdo-container-registry
    label-Workflow = -1..+0 group Registered Users
    label-Workflow = -1..+1 group rdo-infra/rdo-container-registry
[access "refs/meta/config"]
    read = group Registered Users
    read = group rdo-infra/rdo-container-registry
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
    action = rebase if necessary
[project]
        description = rdo-container-registry repo
