---
#   Copyright Red Hat, Inc. All Rights Reserved.
#
#   Licensed under the Apache License, Version 2.0 (the "License"); you may
#   not use this file except in compliance with the License. You may obtain
#   a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
#   WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#   License for the specific language governing permissions and limitations
#   under the License.
#

- name: create the OSP projects
  oc_project:
    state: present
    name: 'rh{{ item }}'
    display_name: 'Red Hat {{ item }} images'
  with_items: '{{ osp_branches }}'

- name: create the ceph project
  oc_project:
    state: present
    name: 'ceph'
    display_name: 'Ceph images'


- name: Create DCI service accounts
  oc_serviceaccount:
    state: present
    name: "dci-registry-user-{{ item }}.service"
    namespace: default
  with_items: '{{ osp_branches }}'

- name: Grant to DCI users the ability to read their OSP images
  oc_adm_policy_user:
    user: 'system:serviceaccount:default:dci-registry-user-{{ item }}.service'
    resource_kind: role
    resource_name: registry-viewer
    state: present
    namespace: 'rh{{ item }}'
  with_items: '{{ osp_branches }}'

- name: Grant to DCI users the ability to read the Ceph images
  oc_adm_policy_user:
    user: 'system:serviceaccount:default:dci-registry-user-{{ item }}.service'
    resource_kind: role
    resource_name: registry-viewer
    state: present
    namespace: 'ceph'
  with_items: '{{ osp_branches }}'

- name: Create DCI admin service account
  oc_serviceaccount:
    state: present
    name: dci-registry-admin.service
    namespace: default

- name: Grant to DCI admin service account the admin privileges for the OSP projects
  oc_adm_policy_user:
    user: system:serviceaccount:default:dci-registry-admin.service
    resource_kind: role
    resource_name: admin
    state: present
    namespace: 'rh{{ item }}'
  with_items: '{{ osp_branches }}'

- name: Grant to DCI admin service account the admin privileges for the OSP projects
  oc_adm_policy_user:
    user: system:serviceaccount:default:dci-registry-admin.service
    resource_kind: role
    resource_name: admin
    state: present
    namespace: 'ceph'

- name: Configure the reencrypt route for DCI image registry
  oc_route:
    name: docker-registry-dci
    namespace: default
    service_name: docker-registry
    tls_termination: 'reencrypt'
    host: 'registry.distributed-ci.io'
    cert_path: '/etc/letsencrypt/live/registry.distributed-ci.io/registry.distributed-ci.io-cert.pem'
    cacert_path: '/etc/letsencrypt/live/registry.distributed-ci.io/registry.distributed-ci.io-chain.pem'
    key_path: '/etc/letsencrypt/live/registry.distributed-ci.io/registry.distributed-ci.io-privkey.pem'
    dest_cacert_path: '/etc/origin/master/ca.crt'
